includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    level: 3
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
        - src/Swagger/DocumentationNormalizer.php
    ignoreErrors:
        #- "#Call to an undefined static method .*SoapClient::__construct\\(\\)#"